{% extends "layout.html" %}
{% block content %}

	<p>Hi there <em>{{ user }}</em> &mdash; <a href="{{ url_for('logout') }}">Logout</a></p>

	<h1>Game List</h1>

	<h2>New Game</h2>
	<a href="{{ url_for('public_games') }}">Join Game</a>
	<a href="{{ url_for('create_game') }}">Create New Game</a>

	<h2>Current Games</h2>

	{% if gamelist %}
		<ul>
		{% for game in gamelist %}
			<li><a href="{{ url_for('game', id = game.id) }}">{{ game.name }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if not gamelist %}
		<p>You don't have any games! Why not <a href="{{ url_for('public_games') }}">join a game</a>, or even <a href="{{ url_for('create_game') }}">make a new one</a>?</p>
	{% endif %}

{% endblock %}