{% extends "layout.html" %}
{% block content %}

	<h2>Log In</h2>

	{% for message in form.email.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

    <form action="{{ url_for('login') }}" method=post id="username_form">
		{{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.password.label }}
        {{ form.password }}

        {{ form.submit }}
    </form>

    <p>Alternatively you can <a href="{{ url_for("register") }}">register.</a></p>

{% endblock %}